### Mahalanobis Distance and Outlier Detection

In [1]:
#### Create a dataframe

import pandas as pd
data = [['Tom', 10], ['Nick', 15], ['Juli', 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
df

   Name  Age
0   Tom   10
1  Nick   15
2  Juli   14

In [4]:
### Another way
data2 = {'Name': ['Hayat', 'Abdul', 'Nafisah', 'Safiyyah'], 'Age': [37, 35, 31, 23]}
# df2 = pd.DataFrame(data2)
df2 = pd.DataFrame(data2, index=['1st', '2nd', '3rd', '4th'])
df2

         Name  Age
1st     Hayat   37
2nd     Abdul   35
3rd   Nafisah   31
4th  Safiyyah   23